@page
@model WebDashboard.Pages.AuthorizeModel
@{
}


<div class="container">
    <div class="row gy-2">
        <form method="post">
            <div class="col-12">
                <div class="col-3" style="margin: auto">
                    <input name="AccessKey" class="form-control" value="" autocomplete="off" />
                </div>
                <div class="col-3" style="margin: auto; margin-top: 12px;">
                    <input type="submit" class="btn btn-primary col-12" value="提交" />
                </div>
            </div>
        </form>
    </div>
</div>